<div class="jumbotron">
        <h1 class="display-5">Bienvenid@!</h1>
        <p class="lead">Sitio de prueba de postulación.</p>
        <hr class="my-4">
        <p>Puede dirigirse a los ejercicios planteados mediante la barra de navegación</p>
      </div>