

<div class="row">
    <div class="col-sm-12 col-md-8">
        <h1>/prueba/array</h1>
    </div>
    <div class="col-sm-12 col-md-4">
        <button (click)="getDataFromAPI()" class="btn btn-outline-primary btn-block">GET DATA</button>
    </div>
</div>

<div class="row d-flex justify-content-center" *ngIf="status === 'fetching-data'">
    <div class="spinner-border text-primary m-2" role="status">
        <span class="sr-only"> Fetching data...</span>
    </div>
    <div class="col-12 text-center text-primary">
        Fetching data...
    </div>
</div>
<div class="row d-flex justify-content-center mt-5" *ngIf="status === 'component-idle'">
    <p class="h5 text-primary">Press the 'GET DATA' to start</p>
 </div>
<div class="row mt-4" *ngIf="status === 'response-loaded'">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <small class="text-primary">Server response</small>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><small class="text-primary">Values</small><br>
            <small *ngIf="!success" class="text-danger"> There is no values in server response</small> 
            {{values | orderNumValues:'asc' }}<br></li>
          <li class="list-group-item"><small class="text-primary">Unique Values</small><br>
            {{uniqueValues | orderNumValues:'asc'}}
            <small *ngIf="!success" class="text-danger"> There is no values to calculate 'uniques' in server response</small> 
            </li>
        </ul>
      </div>
    </div>
</div> 
<div class="row mt-4 mb-5" *ngIf="status === 'response-loaded' && success">
    <div class="col-12">
      <table class="table table-responsive-md table-responsive-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Number</th>
            <th scope="col">Quantity</th>
            <th scope="col">First Pos.</th>
            <th scope="col">Last Pos.</th>
          </tr>
        </thead>
        <tbody class="mb-5">
          <tr *ngFor="let unique of uniqueValues; let i = index" [ngClass]="{'table-success': numberQty(unique)>=2,'table-warning': numberQty(unique)==1,'table-dark': numberQty(unique)<1 }">
            <th scope="row">{{i}}</th>
            <td> {{unique}}</td>
            <td> {{numberQty(unique)}}</td>
            <td> {{firstPos(unique)}}</td>
            <td> {{lastPos(unique)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

   
    