<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="[ 'home' ]" >Nicolás Mena M.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="[ 'home' ]">Home</a>
            </li> 

            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="[ 'array' ]">Array</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[ 'dict' ]">Dict</a>
            </li>
            
          </ul>
          
        </div>
      </nav>