
<div class="row">
    <div class="col-sm-12 col-md-8">
        <h1>/prueba/dict</h1>
    </div>
    <div class="col-sm-12 col-md-4">
        <button (click)="getDataFromAPI()" class="btn btn-outline-primary btn-block">GET DATA</button>
    </div>
</div>
<div class="row d-flex justify-content-center" *ngIf="status === 'fetching-data'">
    <div class="spinner-border text-primary m-2" role="status">
        <span class="sr-only"> Fetching data...</span>
    </div>
    <div class="col-12 text-center text-primary">
        Fetching data...
    </div>
</div>
<div class="row d-flex justify-content-center mt-5" *ngIf="status === 'component-idle'">
   <p class="h5 text-primary">Press the 'GET DATA' to start</p>
</div>
<div class="row mt-4 mb-5" *ngIf="status === 'response-loaded' && success">
    <div class="col-12">
      <table class="table table-responsive">
        <thead class="thead-dark">
          <tr >
            <th scope="col">Nº</th>
            <th *ngFor="let item of alphabet">{{item}}</th>
            <th scope="col">Suma numéricos contenidos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of paragraphs; let i = index">
            <th scope="row">{{i}}</th>
            <td *ngFor="let letter of alphabet">{{countChars(line.paragraph,letter)}}</td>
            <td>{{countNumbers(line.paragraph)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
