<footer class="footer bg-dark text-center mt-5">
        <div class="container">
            <p>
                &copy; {{year}} Nicolás Mena M. - nicolas.mena.m@gmail.com
                
            </p>
        </div>
    </footer>